body {
	background-color: #202020;
	padding: 10px;
}

p {
	font-family: "Comic Sans MS", "Comic Sans";
	color: #ccc;
	font-size: 14pt;
}

button {
    background-color: #1010ff;
    color: #ddd;
    padding: 15px 32px;
    border-width: 0;
    font-family: "Comic Sans MS";
    font-size: 16pt;
}
